*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    background-color: #FFFBEB;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    max-width: 445px;
    margin: 4rem auto;
}


.heading {
    font-size: 2.5rem;
    color: #D8B394;
    line-height: 2.7rem;
}

.accent {
    display: block;
    color: #FBBC74;
}

.sub-heading {
    font-size: 1.25rem;
    font-weight: 400;
    color: #9CA3AF;
    margin: 2.5rem 0;
}

#generate-password {
    background-color: #F8CBA6;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border: transparent;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#generate-password:hover, 
#generate-password:focus-visible {
    background-color: #fdbc86;
}

.icon {
    margin-right: 0.5rem;
}

.divider {
    width: 80%;
    border: 1px solid #F8CBA6;
    margin: 4rem 0 2rem 0;
}

.passwords {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 210px);
    grid-auto-flow: row;
}

.password-container {
    background-color: #FFE7CC;
    color: #A4907C;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;
    border: 3px solid transparent;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

.password-container::placeholder {
    font-size: 1.5rem;
}

.password-container:focus {
    border: 3px solid #ffd09a;
}

@media (max-width: 550px) {
    .heading {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .sub-heading {
        font-size: 0.8rem;
        margin: 2rem 0;
    }

    #generate-password {
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
    }

    .divider {
        margin: 3rem 0 1.5rem 0;
    }

    .passwords {
        gap: 15px;
        grid-template-columns: repeat(2, 135px);
    }

    .password-container {
        font-size: 0.75rem;
    }

}
